*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@media(min-width:320px){

	.footer-container{
	width:90%;
	margin:auto;
    }
    .footer-row{
	display:flex;
	flex-wrap:wrap;
    }
    .footer-col{
	width:100%;
	color:white;
    }
    .footer-col h3{
		margin-top:20px;
	}

	.footer-col ul li{
		/* padding-bottom:10px; */
		list-style-type:none;
		font-size: 14px;
	}
}

@media(min-width:720px){
    	

.footer-container{
width:90%;
margin:auto;
}
.footer-row{
display:flex;
flex-wrap:wrap;
}
.footer-col{
width:50%;
color:white;
}
.footer-head{
    margin-top:20px;
}
}

@media(min-width:1000px){
    
	.footer-container{
	width:90%;
	margin:auto;
    }
    .footer-row{
	display:flex;
    }
    .footer-col{
	width:25%;
	color:white;
    }
	.col h2{
	font-weight:600;
	font-size:20px;
	padding-bottom:10px;
    }

	.footer-col ul li{
		list-style-type:none;
		font-size: 18px;
		padding: 5px 0px;
	}

}


.footer-sec{
	background-color:#000000c4;
	padding:40px 0;
}

.footer-col{
	text-align: center;
}

.footer-col span{
	color:gold;
}
.footer-para1{
	padding-bottom:3px;
}
.footer-para2{
	padding-bottom:22px;
}
.footer-para3{
	padding-bottom:3px;
}
.footer-para4{
	padding-bottom:22px;
}
.footer-icon i{
    border:1px solid 1px solid #00000017;
	border-radius:3%;
	padding:4px;
	margin:0px 5px;
}
.footer-col h2{
	font-size:23px;
	padding-bottom:25px;	
}
.footer-col h3{
	padding-bottom:25px;
}

.footer-col li i{
	color:gold;
	padding-right:12px;
}
.footer-input{
	padding-top:18px;
}
.footer-input [type="email"]{
	position:relative;
	padding:8px 10px;
	border:none;
	border-radius:3%;
	outline:none;
}
.footer-col [type="submit"]{
	position: absolute;
    padding: 8px 16px;
    border: none;
    outline: none;
    background-color: yellow;
    color: black;
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
    right: 80px;
}