*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@media(min-width:320px){
    .test-sec{
        background-image:url("../img/block.jpg");
        margin:40px 0;
        padding:40px 0;
        text-align:center;
    }
    .test-container{
        width:80%;
        margin:auto;
    }
    .test-row{
        color:white;
    }
    .test-row img{
        width:90px;
        height:90px;
        border-radius:50%;
        border:3px solid #d1cec2;
    }
    .test-row h5{
        font-size:30px;
        padding:15px 0px 0px 0px;
    }
    .test-row h3{
        font-size:25px;
        padding:3px 0px 10px;
    }
    .test-row p{
        font-size:22px;
        font-style:italic;
    }
    .wrap.active{
        background-color:yellow;
    }
    .wrap{
        width:12px;
        height:12px;
        border-radius:50%;
        background-color:white;
        display:inline-block;
        margin-top:10px;
    }
}

@media(min-width:720px){
    .test-sec{
        background-image:url("../img/block.jpg");
        margin:40px 0;
        padding:40px 0;
        text-align:center;
    }
    .test-container{
        width:80%;
        margin:auto;
    }
    .test-row{
        color:white;
    }
    .test-row img{
        width:90px;
        height:90px;
        border-radius:50%;
        border:3px solid #d1cec2;
    }
    .test-row h5{
        font-size:30px;
        padding:15px 0px 0px 0px;
    }
    .test-row h3{
        font-size:25px;
        padding:3px 0px 10px;
    }
    .test-row p{
        font-size:22px;
        font-style:italic;
    }
    .wrap.active{
        background-color:yellow;
    }
    .wrap{
        width:12px;
        height:12px;
        border-radius:50%;
        background-color:white;
        display:inline-block;
        margin-top:10px;
    }
}

@media(min-width:1000px){
    .test-sec{
        background-image:url("../img/block.jpg");
        margin:40px 0;
        padding:40px 0;
        text-align:center;
    }
    .test-container{
        width:80%;
        margin:auto;
    }
    .test-row{
        color:white;
    }
    .test-row img{
        width:90px;
        height:90px;
        border-radius:50%;
        border:3px solid #d1cec2;
    }
    .test-row h5{
        font-size:30px;
        padding:15px 0px 0px 0px;
    }
    .test-row h3{
        font-size:25px;
        padding:3px 0px 10px;
    }
    .test-row p{
        font-size:22px;
        font-style:italic;
    }
    .wrap.active{
        background-color:yellow;
    }
    .wrap{
        width:12px;
        height:12px;
        border-radius:50%;
        background-color:white;
        display:inline-block;
        margin-top:10px;
    }
}